<!DOCTYPE html>
<html lang="zh" class="js">
  <head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title id="title">曾经沧海难为水，除却巫山不是云</title>
    <meta name="Description" content="Home Page of iissnan">
    <meta name="color-scheme" content="dark light">
    <script>(function(H){H.className=H.className.replace(/\bno-js\b/,'js')})(document.documentElement)</script>
    <link rel="stylesheet" type="text/css" href="/static/css/main.css">
    <link id="noteanywherecss" media="screen" type="text/css" rel="stylesheet" href="data:text/css,.note-anywhere%20.closebutton%7Bbackground-image%3A%20url%28chrome-extension%3A//bohahkiiknkelflnjjlipnaeapefmjbh/asset/deleteButton.png%29%3B%7D%0A">
  </head>

  <script type="text/javascript" charset="utf-8">
    // 滚动标题
    setInterval(function() {
      var tag = document.getElementById('title');//根据id获取元素
      var content = tag.innerText; // 获取title标签的文本内容
      var firstStr = content.charAt(0); // 获取第一个字
      var surplue = content.substring(1, content.length); // 删除第一个字
      var new_content = surplue + firstStr; // 把第一个字加到最后面
      tag.innerText = new_content;
    }, 1000);
  </script>

  <body>
    <div>
      <h1 class="animate-slide-in-down" style="opacity: 1; top: 0px;">陈白衣</h1>
      <div class="quote">
        <span class="quote-line quote-line-start animate-slide-in-left" style="left: 0px;"></span>
        <p class="quote-content animate-slide-in-down" style="opacity: 1; top: 0px;">为者常成，行者常至。</p>
        <p class="quote-author animate-slide-in-down" style="opacity: 1; top: 0px;">《晏子春秋·内篇杂下》—— <em>晏婴</em></p>
        <span class="quote-line quote-line-end animate-slide-in-right" style="right: 0px;"></span>
      </div>

      <div>
        <a href="/fast-md5.html">
          <img src="/static/img/fast-md5.svg" stgyle="max-width: 100%;">
        </a>
        <a href="https://music.163.com/discover/toplist">
          <img src="/static/img/163-music.svg" stgyle="max-width: 100%;">
        </a>
        <a href="https://voice.baidu.com/act/newpneumonia/newpneumonia/?from=osari_aladin_banner&city=%E5%9B%9B%E5%B7%9D-%E5%9B%9B%E5%B7%9D">
          <img src="/static/img/COVID-19.svg" stgyle="max-width: 100%;">
        </a>
        <a href="/chatroom.html">
          <img src="/static/img/chatroom.svg" stgyle="max-width: 100%;">
        </a>
        <a href="https://music.163.com/discover/toplist">
          <img src="/static/img/letter.svg" stgyle="max-width: 100%;">
        </a>
      </div>
    </div>

    <div style=" background-color: #FFFFFF; width: 300px; height:85px; position: fixed; bottom: 0px;">
      <iframe frameborder="no" border="0" marginwidth="0" marginheight="0" width="100%" height="86" left="10" src="//music.163.com/outchain/player?type=2&amp;id=473740566&amp;auto=1&amp;height=66"></iframe>
    </div>
  </body>
</html>